mixin game_result(entry)
    if entry.result == "win"
        td(class="result-row")
            div(id="win-result-content") #{entry.result}
    else if entry.result == "loss"
        td(class="result-row")
            div(id="loss-result-content") #{entry.result}
    else if entry.result == "ahead"
        td(class="result-row")
            div(id="ahead-result-content") #{entry.result}
    else if entry.result == "behind"
        td(class="result-row")
            div(id="behind-result-content") #{entry.result}
    else 
        td(class="result-row")
            div(id="result-content") #{entry.result}

mixin game_state(entry)
    if entry.game_state == "final"
        td(id="game-final") final
    else if entry.game_state == "in_progress"
        td(id="game-in-progress") in progress
    else
        td

mixin display_game(entry)
    td(class="result-row")
        table
            tr
                td(id="team-content") #{entry.away_team}
                td(id="score-content") #{entry.away_score}
                td
            tr
                td(id="team-content") #{entry.home_team}
                td(id="score-content") #{entry.home_score}
                +game_state(entry)

mixin display_spread(entry)
    td(class="result-row")
        table
            tr
                td(id="spread-label") Favored
                td(id="spread-team") #{entry.favored}
                td(id="spread-value") #{entry.favored_spread}
            tr
                if entry.game_state == "final"
                    td(id="spread-label") Result
                    td(id="spread-team") #{entry.winning_team}
                    td(id="spread-value") #{entry.game_spread}.0
                else if entry.game_state == "in_progress"
                    td(id="spread-label") Ahead
                    td(id="spread-team") #{entry.winning_team}
                    td(id="spread-value") #{entry.game_spread}.0
                else
                    td
                    td
                    td

doctype 5
html(lang="en")
   head
      title CDC Pool Week #{week} Player #{player} Results
      link(rel="stylesheet" type="text/css" href="/stylesheets/player_results.css")
   body
      div(class="page-title") CDC Football Pool #{year}
      div(class="page-subtitle") Week #{week} Results
      div(class="page-subtitle") #{player}
      div(class="page-div")
      br
      table
        thead(class="results-header")
            td(id="pick-header") Player Pick
            td(id="result-header") Result
            td(id="game-header") Game
            td(id="spread-header") Spread 
        each entry in data
            tr
               td(class="result-row",id="pick-content") #{entry.player_pick}
               +game_result(entry)
               +display_game(entry)
               +display_spread(entry)
