// TODO:  move input names to mixin function?

mixin game_result(entry)
    if entry.result == "win"
        td(id="win-result-content") #{entry.result}
    else if entry.result == "loss"
        td(id="loss-result-content") #{entry.result}
    else if entry.result == "ahead"
        td(id="ahead-result-content") #{entry.result}
    else if entry.result == "behind"
        td(id="behind-result-content") #{entry.result}
    else 
        td(id="result-content") #{entry.result}

doctype 5
html(lang="en")
   head
      title CDC Pool Week #{week} Player #{player} Results
      link(rel="stylesheet" type="text/css" href="/stylesheets/player_results.css")
   body
      div(class="page-title") CDC Football Pool #{year}
      div(class="page-subtitle") Week #{week} Results
      div(class="page-subtitle") #{player}
      div(class="page-div")
      br
      table
        thead(class="results-header")
            td(id="pick-header") Player Pick
            td(id="result-header") Result
            td(id="team-header") Away
            td(id="score-header") Score
            td(id="team-header") Home
            td(id="score-header") Score
        each entry in data
            tr
               td(id="pick-content") #{entry.player_pick}
               +game_result(entry)
               td(id="team-content") #{entry.away_team}
               td(id="score-content") #{entry.away_score}
               td(id="team-content") #{entry.home_team}
               td(id="score-content") #{entry.home_score}
