include title_bar

mixin display_tiebreak_result(value)
    if value == "won"
        td(id="tiebreak-won") #{value}
    else if value == "lost"
        td(id="tiebreak-lost") #{value}
    else if value == "ahead"
        td(id="tiebreak-ahead") #{value}
    else if value == "behind"
        td(id="tiebreak-behind") #{value}
    else
        td(id="tiebreak-blank")

mixin summary_title()
   table(class="tiebreaker-title")
      tr
         td(id="tiebreaker-number") Summary
         td(id="tiebreaker-description")
      tr
         td(id="table-line-gray",colspan="2")

mixin tiebreak_title(number,description)
   table(class="tiebreaker-title")
      tr
         td(id="tiebreaker-number") Tiebreaker #{number} Details
         td(id="tiebreaker-description") (#{description})
      tr
         td(id="table-line-gray",colspan="2")

mixin display_tiebreak0()
   br
   br
   +tiebreak_title("0","Pick the winner of game 10.")
   table
      thead(class="tiebreaker-header")
         td(id="header") Player
         td(id="header") Result
         td(id="header") Player Pick
         if featured_game_in_progress
            td(id="header") Team Ahead
         else
            td(id="header") Game Winner
      each entry in tiebreak0
         tr
            td(id="player-content") #{entry.player_name}
            +display_tiebreak_result(entry.result)
            td(id="content") #{entry.player_pick}
            td(id="content") #{entry.featured_game_winner}
            tr
                td(id="table-line",colspan="5")

mixin display_game(type,value)
   table
      thead(class="game-header")
         td(id="teams-header") Game 10 Result
         td(id="score-header") Score
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.away_team}
         td(id="team-score") #{tiebreak1.summary.away_score}
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.home_team}
         td(id="team-score") #{tiebreak1.summary.home_score}
      tr
         td(id="table-line",colspan="2")
      tr(class="game-content")
         td(id="game-type-label") Result #{type}
         td(id="game-value") #{value}
      tr
         td(id="table-line",colspan="2")

mixin display_tiebreak1()
   br
   br
   +tiebreak_title("1","Pick the score spread closest to the game 10 score spread.")
   +display_game("Spread",tiebreak1.summary.result_spread)
   br
   table
      thead(class="tiebreaker-header")
         td(id="header") Player
         td(id="header") Result
         td(id="header") #{tiebreak1.summary.away_team}
         td(id="header") #{tiebreak1.summary.home_team}
         td(id="header") Pick Spread
         td(id="header") Result Spread
         td(id="header") Difference
      each entry in tiebreak1.data
         tr
            td(id="player-content") #{entry.player_name}
            +display_tiebreak_result(entry.result)
            td(id="content") #{entry.away_score}
            td(id="content") #{entry.home_score}
            td(id="content") #{entry.pick_spread}
            td(id="content") #{tiebreak1.summary.result_spread}
            td(id="content-highlight") #{entry.difference}
         tr
            td(id="table-line",colspan="7")
   br

mixin display_tiebreak2()
   br
   br
   +tiebreak_title("2","Pick the score total closest to the game 10 score total.")
   +display_game("Total",tiebreak2.summary.result_total)
   br
   table
      thead(class="tiebreaker-header")
         td(id="header") Player
         td(id="header") Result
         td(id="header") #{tiebreak2.summary.away_team}
         td(id="header") #{tiebreak2.summary.home_team}
         td(id="header") Pick Total
         td(id="header") Result Total
         td(id="header") Difference
      each entry in tiebreak2.data
         tr
            td(id="player-content") #{entry.player_name}
            +display_tiebreak_result(entry.result)
            td(id="content") #{entry.away_score}
            td(id="content") #{entry.home_score}
            td(id="content") #{entry.pick_total}
            td(id="content") #{tiebreak2.summary.result_total}
            td(id="content-highlight") #{entry.difference}
         tr
            td(id="table-line",colspan="7")
   br

mixin display_tiebreak3()
   br
   br
   +tiebreak_title("3","Person who enters their picks the earliest.")
   div#tiebreaker3-text This is chosen manually.
   br
   br
         

doctype 5
html(lang="en")
   head
      title CDC Pool #{year} Week #{week} Tiebreaker
      link(rel="stylesheet" type="text/css" href="/stylesheets/title_bar.css")
      link(rel="stylesheet" type="text/css" href="/stylesheets/tiebreaker.css")
   body
      - var page_title = "Week " + week + " Tiebreaker"
      +display_page_title(page_title)
      +display_week_link_bar(year,week,num_weeks)
      br
      +summary_title()
      table
         thead(class="tiebreaker-header")
            td(id="header") Player
            td(id="header") Tiebreak 0
            td(id="header") Tiebreak 1
            td(id="header") Tiebreak 2
            td(id="header") Tiebreak 3
         each entry in data
            tr
                td(id="player-content") #{entry.player_name}
                +display_tiebreak_result(entry.tiebreak0)
                +display_tiebreak_result(entry.tiebreak1)
                +display_tiebreak_result(entry.tiebreak2)
                +display_tiebreak_result(entry.tiebreak3)
            tr
                td(id="table-line",colspan="5")
      if tiebreak0.length > 0
         +display_tiebreak0()
      if tiebreak1.data.length > 0
         +display_tiebreak1()
      if tiebreak2.data.length > 0
         +display_tiebreak2()
      if tiebreak3 != null
         +display_tiebreak3()
