include title_bar

mixin display_tiebreak_result(value)
    if value == "won"
        td(id="tiebreak-won") #{value}
    else if value == "lost"
        td(id="tiebreak-lost") #{value}
    else
        td(id="tiebreak-blank")

mixin tiebreak_title(number,description)
   table(class="tiebreaker-title")
      tr
         td(id="tiebreaker-number") Tiebreaker #{number} Details
         td(id="tiebreaker-description") (#{description})
      tr
         td(id="table-line-blue",colspan="2")

mixin display_tiebreak0()
   br
   br
   +tiebreak_title("0","Pick the winner of game 10.")
   table
      thead(class="tiebreaker-header")
         td(id="header") Player
         td(id="header") Result
         td(id="header") Player Pick
         td(id="header") Game Winner
      each entry in tiebreak0
         tr
            td(id="player-content") #{entry.player_name}
            +display_tiebreak_result(entry.result)
            td(id="content") #{entry.player_pick}
            td(id="content") #{entry.featured_game_winner}
            tr
                td(id="table-line",colspan="5")

mixin display_game(type,value)
   table
      thead(class="game-header")
         td(id="teams-header") Game 10 Result
         td(id="score-header") Score
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.away_team}
         td(id="team-score") #{tiebreak1.summary.away_score}
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.home_team}
         td(id="team-score") #{tiebreak1.summary.home_score}
      tr
         td(id="table-line",colspan="2")
      tr(class="game-content")
         td(id="game-type-label") Result #{type}
         td(id="game-value") #{value}
      tr
         td(id="table-line",colspan="2")

mixin display_tiebreak1_v2()
   - var num_columns = 2 + tiebreak1.data.length
   table
      thead(class="game-header")
         td(id="teams-header") Game 10
         td(id="score-header") Final
         each entry in tiebreak1.data
            td(id="score-header") #{entry.player_name}
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.away_team}
         td(id="team-score") #{tiebreak1.summary.away_score}
         each entry in tiebreak1.data
            //- td(id="team-score") #{entry.away_score}
            td(id="game-value") #{entry.away_score}
      tr(class="game-content")
         td(id="team-name") #{tiebreak1.summary.home_team}
         td(id="team-score") #{tiebreak1.summary.home_score}
         each entry in tiebreak1.data
            //- td(id="team-score") #{entry.home_score}
            td(id="game-value") #{entry.home_score}
      tr
         td(id="table-line",colspan="#{num_columns}")
      tr(class="game-content")
         td(id="game-type-label") Spread
         td(id="game-value") #{tiebreak1.summary.result_spread}
         each entry in tiebreak1.data
            td(id="game-value") #{entry.pick_spread}
      tr
         td(id="table-line",colspan="#{num_columns}")
      tr(class="game-content")
         td(id="game-type-label") Difference
         td(id="game-value")
         each entry in tiebreak1.data
            td(id="game-value") #{entry.difference}
      tr
         td(id="table-line",colspan="#{num_columns}")
      tr(class="game-content")
         td(id="game-type-label") Result
         td(id="game-value")
         each entry in tiebreak1.data
            +display_tiebreak_result(entry.result)
      tr
         td(id="table-line",colspan="#{num_columns}")

mixin display_tiebreak1()
   br
   br
   +tiebreak_title("1","Pick the score spread closest to the game 10 score spread.")
   +display_game("Spread",tiebreak1.summary.result_spread)
   //- +display_tiebreak1_v2()
   br
   table
      thead(class="tiebreaker-header")
         td(id="header") Player
         td(id="header") Result
         td(id="header") #{tiebreak1.summary.away_team}
         td(id="header") #{tiebreak1.summary.home_team}
         td(id="header") Pick Spread
         td(id="header") Result Spread
         td(id="header") Difference
      each entry in tiebreak1.data
         tr
            td(id="player-content") #{entry.player_name}
            +display_tiebreak_result(entry.result)
            td(id="content") #{entry.away_score}
            td(id="content") #{entry.home_score}
            td(id="content") #{entry.pick_spread}
            td(id="content") #{tiebreak1.summary.result_spread}
            td(id="content-highlight") #{entry.difference}
         tr
            td(id="table-line",colspan="7")
   br
         

doctype 5
html(lang="en")
   head
      title CDC Pool #{year} Week #{week} Tiebreaker
      link(rel="stylesheet" type="text/css" href="/stylesheets/title_bar.css")
      link(rel="stylesheet" type="text/css" href="/stylesheets/tiebreaker.css")
   body
      - var page_title = "Week " + week + " Tiebreaker"
      +display_page_title(page_title)
      br
      div(class="under-construction") Page is under construction.
      br
      table
         thead(class="tiebreaker-header")
            td(id="header") Player
            td(id="header") Tiebreak 0
            td(id="header") Tiebreak 1
            td(id="header") Tiebreak 2
            td(id="header") Tiebreak 3
         each entry in data
            tr
                td(id="player-content") #{entry.player_name}
                +display_tiebreak_result(entry.tiebreak0)
                +display_tiebreak_result(entry.tiebreak1)
                +display_tiebreak_result(entry.tiebreak2)
                +display_tiebreak_result(entry.tiebreak3)
            tr
                td(id="table-line",colspan="5")
      if tiebreak0.length > 0
         +display_tiebreak0()
      if tiebreak1.data.length > 0
         +display_tiebreak1()
