// TODO:  move input names to mixin function?
include title_bar
include instructions

mixin final_checkbox(entry)
   span(id="final")
      if entry.state == "final"
         input(type='checkbox', name='#{entry.final_checkbox_name}', checked="checked", value="checked")
         | Final
      else
         input(type='checkbox', name='#{entry.final_checkbox_name}', value="checked")
         | Final

doctype 5
html(lang="en")
   head
      title CDC Pool Week #{week} Games
      link(rel="stylesheet" type="text/css" href="/stylesheets/title_bar.css")
      link(rel="stylesheet" type="text/css" href="/stylesheets/update_games.css")
   body
      form(action="games",method="post")
         - var page_title = "Week " + week + " Games"
         +display_page_title(page_title)
         +display_instructions()
         each entry in data
            table
               thead(class="game-header")
                  td
                  td(id="teams-header") Teams
                  td(id="score-header") Score
                  td
                  td(id="status-header")
               tr(class="game-content")
                  td(id="vs")
                  td(id="team-name") #{entry.away_team}
                  td(id="team-score") 
                     input(type='text',name='#{entry.away_score_input_name}',size='2',value='#{entry.away_score}')
                  td(id="game-qtr") 
                     | Qtr
                     input(type='text',name='#{entry.qtr_input_name}',size='7',value='#{entry.quarter}')
                  td(id="game-status")
               tr(class="game-content")
                  td(id="vs") vs.
                  td(id="team-name") #{entry.home_team}
                  td(id="team-score") 
                     input(type='text',name='#{entry.home_score_input_name}',size='2',value='#{entry.home_score}')
                  td(id="game-time") 
                     | Time
                     input(type='text',name='#{entry.time_input_name}',size='7',value='#{entry.time}')
                  td(id="game-status")
                     +final_checkbox(entry)
            br
         table
            tr
               td
                  input(type='submit', name='submit_form', value='Submit')
               td
                  input(type='submit', name='cancel_form', value='Cancel')
