include title_bar

mixin display_column(name,value)
   - var reverse_name = name + "_reversed"
   if name == sort_by || reverse_name == sort_by
      td(id="highlight-content") #{value}
   else
      td(id="content") #{value}

mixin display_header_with_sort_link(name,value)
   - var reverse_name = name + "_reversed"
   if name == sort_by
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}_reversed")= value
   else if reverse_name == sort_by
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}")= value
   else
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}")= value

mixin display_player_with_link(entry)
   td(id="player-content")
      a(id="player-link",href="player/#{entry.player_id}/results")= entry.player_name

mixin display_week_state_and_games_link()
   table
      tr
         if week_state == "final"
            td(id="final-week-state") final results
         else if week_state == "in_progress"
            td(id="in-progress-week-state") week is in progress
         else if week_state == "not_started"
            td(id="not-started-week-state") week has not started
         td(id="game-link-column")
            a(id="game-link",href="games") update game scores

mixin display_line(week_state)
   tr
      if week_state == "final"
         td(id="table-line",colspan="6")
      else
         td(id="table-line",colspan="7")

mixin display_week_winner(entry)
   if winner == null
      td(id="week-winner-blank")
   else if winner.tiebreaker == 0
      if winner.winner.id == entry.player_id
         td(id="week-winner") WINNER
      else
         td(id="week-winner-blank")
   else
      td(id="week-winner-blank") WINNER


doctype 5
html(lang="en")
   head
      title CDC Pool #{year} Week #{week}  Leaderboard
      link(rel="stylesheet" type="text/css" href="/stylesheets/title_bar.css")
      link(rel="stylesheet" type="text/css" href="/stylesheets/week_results.css")
   body
      - var page_title = "Week " + week + " Leaderboard"
      +display_page_title("Leaderboard")
      +display_week_link_bar(year,week,num_weeks)
      br
      +display_week_state_and_games_link()
      table
         thead(class="results-header")
            td(id="header") Rank
            +display_header_with_sort_link('player','Player')
            +display_header_with_sort_link('wins','Wins')
            +display_header_with_sort_link('losses','Losses')
            td(id="header") Win Pct.
            if week_state != "final"
               +display_header_with_sort_link('projected','Projected')
               +display_header_with_sort_link('possible','Possible')
            else
               td
         each entry in data
            tr
               if week_state == "final"
                  td(id="content") #{entry.rank}
                  +display_player_with_link(entry)
                  +display_column("wins",entry.wins)
                  +display_column("losses",entry.losses)
                  td(id="content") #{entry.win_pct}
               else
                  td(id="content") #{entry.rank}
                  +display_player_with_link(entry)
                  +display_column("wins",entry.wins)
                  +display_column("losses",entry.losses)
                  td(id="content") #{entry.win_pct}
                  +display_column("projected",entry.projected_wins)
                  +display_column("possible",entry.possible_wins)
            +display_line(week_state)
      

