doctype 5
html(lang="en")
   head
      title CDC Pool Week #{week}  Leaderboard
   body
      h1 CDC Football Pool #{year} Week #{week}
      table
         thead
            td Rank
            td Player
            td Wins
            td Losses
            td Win Pct.
         each entry in data
            tr
               td #{entry.rank}
               td #{entry.player_name}
               td #{entry.wins}
               td #{entry.losses}
               td #{entry.win_pct}
      

