mixin display_column(name,value)
   - var reverse_name = name + "_reversed"
   if name == sort_by || reverse_name == sort_by
      td(id="highlight-content") #{value}
   else
      td(id="content") #{value}

mixin display_header_with_sort_link(name,value)
   - var reverse_name = name + "_reversed"
   if name == sort_by
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}_reversed")= value
   else if reverse_name == sort_by
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}")= value
   else
      td(id="header")
         a(id="link-header",href="results?sort_by=#{name}")= value

doctype 5
html(lang="en")
   head
      title CDC Pool #{year} Week #{week}  Leaderboard
      link(rel="stylesheet" type="text/css" href="/stylesheets/week_results.css")
   body
      div(class="page-title") CDC Football Pool #{year}
      div(class="page-subtitle") Week #{week} Leaderboard
      div(class="page-div")
      br
      table
         thead(class="results-header")
            td(id="header") Rank
            +display_header_with_sort_link('player','Player')
            +display_header_with_sort_link('wins','Wins')
            +display_header_with_sort_link('losses','Losses')
            td(id="header") Win Pct.
            if week_state != "final"
               +display_header_with_sort_link('projected','Projected')
               +display_header_with_sort_link('possible','Possible')
         each entry in data
            tr
               if week_state == "final"
                  td(id="content") #{entry.rank}
                  td(id="player-content") #{entry.player_name}
                  +display_column("wins",entry.wins)
                  +display_column("losses",entry.losses)
                  td(id="content") #{entry.win_pct}
               else
                  td(id="content") #{entry.rank}
                  td(id="player-content") #{entry.player_name}
                  +display_column("wins",entry.wins)
                  +display_column("losses",entry.losses)
                  td(id="content") #{entry.win_pct}
                  +display_column("projected",entry.projected_wins)
                  +display_column("possible",entry.possible_wins)
      

